body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 15px;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}